.Rproj.user
.Rhistory
.RData

/src/Makevars
/src/fftw.o
/src/fftw3.so

/src/fftw-*/**/.deps
/src/fftw-*/**/.libs
/src/fftw-*/**/Makefile
/src/fftw-*/**/*.lo
/src/fftw-*/**/*.o
/src/fftw-*/**/*.la
/src/fftw-*/api/fftw3.f03
/src/fftw-*/config.h
/src/fftw-*/config.log
/src/fftw-*/config.status
/src/fftw-*/fftw.pc
/src/fftw-*/fftw3.pc
/src/fftw-*/libbench2/libbench2.a
/src/fftw-*/libtool
/src/fftw-*/mpi/fftw3-mpi.f03
/src/fftw-*/mpi/fftw3l-mpi.f03
/src/fftw-*/stamp-h1
/src/fftw-*/tests/bench
/src/fftw-*/tools/fftw-wisdom
/src/fftw-*/tools/fftw-wisdom-to-conf
/src/fftw-*/tools/fftw_wisdom.1
